<ion-app>
  <ion-toolbar>
    <app-header [titulo]="'Bienvenido al Home'"></app-header>
  </ion-toolbar>

<ion-content>
  <h1 class="titulos">Bienvenido {{nombre}}</h1>
  <p class="parrafos">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores assumenda ducimus tenetur porro quos deserunt temporibus pariatur consequuntur? Numquam ratione sint doloribus ipsam ab voluptatum porro harum in quod veritatis!</p>

  <ion-button [routerLink]="['/animaciones']" expand="block" fill="clear" shape="round">
    Animaciones
  </ion-button>
</ion-content>

</ion-app>